{% extends "explanation_template.html" %}
{% block title %}
BitGrail
{% endblock %}
{% block email %}
BitGrail Suggestions
{% endblock %}
{% block body %}
<script>
    references={
        jaydubs: "https://www.reddit.com/r/nanocurrency/comments/7ywv6b/my_perspective_on_the_answers_from_firano/",
        trustee: "https://www.reddit.com/r/nanocurrency/comments/8pb1m4/looks_like_firano_has_suffered_a_trustee/",
    }
</script>


<h1>BitGrail - Under Construction</h1>
Becuase of ongoing lawsuits, official statements are hard to come by. But there is a lot of information out there, and being a victim myself, I'm confident that...
<h2>Nanos were stolen because of a failure of BitGrail, not the developers</h2>
All evidence points to BitGrail being hacked from a poorly implemented wallet and no internal audits/solvency checks<span class="citation">jaydubs</span>.
BitGrail claimed to realize randomly one day that 17M Nanos were missing. Keep in mind this is an exchange dedicated to the currency that was stolen, and that this was after Nano withdrawls were disabled for months.
<h2>Nanos were stolen back in October</h2>
The block explorer suggests the funds were stolen in October, and it is likely BitGrail operated, knowing this, for months.
<h2> BitGrail assets have been seized by Italian authorities</h2>
A multisig Nano address has been created for trustees to hold the Nanos<span class="citation">trustee</span>. Even BitGrail managed Bitcoins have been moved to trustee wallets.

<h2></h2>


<ol class="bibliography" id="bibliography" >
</ol>
Last updated 6-14-2018
{% endblock %}